.header {
  margin-left: 100px;
}

.navItem {
  margin-left: 50px;
}

.loginBtn{
  padding: 2rem;
}

.toggleNavbar {
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    margin-left: 0;
  }

  .navItem {
    margin-left: 0;
  }

  .toggleNavbar {
    display: block;
  }
}
